<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
        <!--Administrador de productos-->      <section class="row">
            <article class="col-12">
                <h2 class="display-4 text-white bg-info text-center pt-5">Administrador de Productos</h2>
              </article>
              <article class="col-6">
                <a class="btn btn-primary" href="/products/create">Agregar <span class="icon1"><i class="fa-solid fa-circle-plus"></i></span></a>          
              </article>
              <article class="col-12" >        <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Categoría</th>
                      <th scope="col">Ver</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Borrar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% producto.forEach(product => { %>
                    <tr>
                      <td><%= product.id%> </td>
                      <td><%= product.nombre%> </td>
                      <td><%= product.categoria.nombre%> </td>
                      <td><a href="/products/detalle/<%= product.id%> "><i class="fa-solid fa-eye"></i></a></td>
                      <td><a href="/products/edit/<%= product.id%> "><i class="fa-solid fa-pen"></i></a></td>
                      <td><a href="/products/delete/<%= product.id%>"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table> 
              </article>       
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
