<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/campos.css"/>
  </head>

    <%- include('./partials/head.ejs') %>
      <body class="campos">
      <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>CAMPOS DE JUEGO</h2>
        <h4> CAMPOS CON CONVENIO A GOLF DE ALTURA STORE </h4>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">

        <ul class="resultado-productos">
          

          <% campos.forEach(function(campo){%>
            <li class="producto-campos-lista">
              <img src="<%= campo.imagen %>"  alt="Campos con convenio a Golf de Altura Store">
              <div class="tamaño-hr"><br><br>
                <h6><%=campo.nombre%></h6>
                <p>Dirección: <strong><%=campo.direccion%></strong></p>
                <p>Teléfono: <strong><%=campo.telefono%></strong></p>
              </div>
            </li>
          <% }) %>
       
        </ul>

    </div>
    <p class="Promo-Campos">Disfrutá de los beneficios en las mejores canchas de golf del país. 
      Realizando una compra mayor de $ 60.000 obtene un Green Fee gratis en cualquiera de los mejor campos del pais asociados a GOLF DE ALTURA Store.
    (Presentar el tiket de la compra, en el clubhouse correspondiente para obtener el greenfee sin cargo).</p>
  </div>
</main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>d;

