<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <!-- <link rel="stylesheet" href="/css/tipoproducto-create-edit.css"/> -->
     
  </head>
 
  <body>
   
    <%- include('./partials/header.ejs')  %>  

  <main>
    <form action="/caracteristica-tipo-productos/edit/<%= data.caracteristicaTipoProductos[0].id %>?_method=PUT" method="POST">
      <section class="contenedor">
        <div class="titulo">
          <h1>ADMINISTRADOR -  EDICIÓN DE CARACTERÍSTICA DE TIPOS DE PRODUCTOS</h1>
        </div>
        <input type="hidden" id="id" name="id" value="<%=data.caracteristicaTipoProductos[0].id%>"/>
        <div class="fila">
          <div class="fila-item">
            <label>TIPO DE PRODUCTO:</label>
            <select name="tipoproductoid" class="input-form" id="tipoproductoid" placeholder="Seleccione el tipo de producto">
              <% for (const item of data.tipoProductos) { %>
                <option value="<%= item.id %>" <%= data.caracteristicaTipoProductos[0].tipoProductoId == item.id ? "selected" : null %> ><%= item.nombre %></option>
              <% } %>
            </select>
          </div>
          <div class="fila">
            <div class="fila-item">
              <label>CARACTERÍSTICA:</label>
              <select name="caracteristicaid" class="input-form" id="caracteristicaid" placeholder="Seleccione la característica">
                <% for (const item of data.caracteristicas) { %>
                  <option value="<%= item.id %>" <%= data.caracteristicaTipoProductos[0].caracteristicaId == item.id ? "selected" : null %> ><%= item.nombre %></option>
                <% } %>
              </select>
            </div>
          <div class="fila-item">
            <label>VALOR:</label>
            <input name="valor" type="text"  id="valor" class="input-form" value="<%=data.caracteristicaTipoProductos[0].valor%>"/>
          </div>
          
        </div>
        
        <div class="fila" style="justify-content: flex-end;">
          <div class="fila-item">
            <button type="submit" id="guardar">GUARDAR</button> <a href="/tipo-productos">Volver a la lista</a>
          </div>
        </div>
      </section>
    </form>

</main>

<%- include('./partials/footer.ejs')  %>
 
</body>
</html>

