<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <!-- <link rel="stylesheet" href="/css/tipoproducto-create-edit.css"/> -->
     
  </head>
 
  <body>
   
    <%- include('./partials/header.ejs')  %>  

  <main>
    <form action="/caracteristica-tipo-productos/create" method="POST">
      <section class="contenedor">
        <div class="titulo">
          <h1>ADMINISTRADOR -  ALTA DE CARACTERÍSTICAS DE TIPOS DE PRODUCTOS</h1>
        </div>
        <div class="fila">
          <div class="fila-item">
            <label class="tipoproductoid">TIPO DE PRODUCTO:</label>
            <select name="tipoproductoid" class="input-form" id="tipoproductoid" placeholder="Seleccione el tipo de producto">
              <option value=""></option>
              <% for (const item of data.tipoproductos) { %>
                <option value="<%= item.id %>"><%= item.nombre %></option>
              <% } %>
            </select>
          </div>
          <div class="fila">
            <div class="fila-item">
              <label class="caracteristicaid">CARACTERÍSTICA:</label>
              <select name="caracteristicaid" class="input-form" id="caracteristicaid" placeholder="Seleccione la característica">
                <option value=""></option>
                <% for (const item of data.caracteristicas) { %>
                  <option value="<%= item.id %>"><%= item.nombre %></option>
                <% } %>
              </select>
            </div>
          <div class="fila-item">
            <label>VALOR:</label>
            <input name="valor" type="text"  id="valor" class="input-form" value=""/>
          </div>
          
        </div>
        
        <div class="fila" style="justify-content: flex-end;">
          <div class="fila-item">
            <button type="submit" id="guardar">GUARDAR</button> <a href="/caracteristica-tipo-productos">Volver a la lista</a>
          </div>
        </div>
      </section>
    </form>

</main>

<%- include('./partials/footer.ejs')  %>
 
</body>
</html>

