<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/detalleproducto.css"/>
</head>
<body>

  <%- include('./partials/header.ejs')  %>

<main>

<form action="/detalleproducto" method="POST">
  <div class="main-content">
    <nav class="menu-detalle-producto" style="justify-content: center;">
      <a href="">Golf /</a>
      <a href=""> Zapatos /</a>
      <a href=""> New Balance /</a>
      <a href=""> Hombres /</a>
      <a href="">Striker V2 zapatos de hombres</a>
    </nav>
    <div class="product-content">
      <div class="col1 img-primaria">
        <img src="/images/products/<%=data.producto.image%>" class="img1"width="80" height="60" alt="New Balance - Striker V2 hombre">
      </div>
      <div class="col2">
        <div class="product-name">
          <% let finalPrice = (data.producto.precio * ((100 - data.producto.descuento) / 100)).toFixed(0)%>
          <% if(data.producto.descuento === "0.00"){ %>
            <h5><span class="span-2">  $ <%= toThousand(data.producto.precio) %> </span> </h5>
          <% } else{ %>  
            <h5><span class="span-1">$ <%= toThousand(data.producto.precio) %> </span> <span class="span-2">$ <%= toThousand(finalPrice) %> </span></h5>
            <p class="p-descuento">Ahorra <%= data.producto.descuento %> % </p>
          <% } %>
        </div>
<!-- //SI la categoría o producto (propiedades del productos.json) ES VESTIR - gorras y guantes y zapatos mostrás el talle -->
        <% if(data.producto.categoria == "1" || 
              data.producto.producto == "5" || 
              data.producto.producto == "6" ||
              data.producto.categoria == "7"||
              data.producto.producto =="24"
              ) { 
          %>
        <div class="fila">
          <label>TALLE:</label>
          <select name="talle" id="talle" class="input-form" placeholder="Seleccione el talle">
            <option value=""></option>
            <% for (const item of data.talles) { %>
              <option value="<%= item.id %>" <%= data.talle_selected == item.nombre ? "selected" : null %> ><%= item.nombre %></option>
            <% } %>
          </select>
          <label><a href="/images/tabla-talles-ropa.jpg"target="_blank">Consulta nuestra tabla de talles aquí.</a></label>
        </div>
        <% } %>
        <!-- acá teneés que modificar la condición según la necesidad -->
        <% if(data.producto.categoria == "1" || 
          data.producto.producto == "6" || 
          data.producto.categoria == "3"||
          data.producto.producto == "3"||
          data.producto.producto == "9"||
          data.producto.producto == "10"||
          data.producto.producto == "11"||
          data.producto.producto == "14"||
          data.producto.producto == "23"
        ) { 
        %>
          <!--por ejemplo acá deberías cambiar color y poner otra cosa -->
          <div class="fila fila2">
            <label class="marca">AGARRE:</label>
              <select name="agarre" class="input-form" id="agarre" placeholder="Seleccione la mano">
              <option value=""></option>
              <% for (const catSelec of data.agarre) { %>
                <option value="<%= catSelec.id %>" <%= data.producto.agarre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
              <%} %>
              </select>
          </div>
        <% } %>
        <!--hasta acá hay que copiar por cada opción-->
     
  






<!-- 
        <div class="fila fila2">
          <label>COLOR:</label>
          <select name="color" class="input-form" id="color" placeholder="Seleccione el color">
            <option value=""></option>
            <% for (const catSelec of data.color) { %>
              <option value="<%= catSelec.id %>" <%= data.color.nombre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
            <% } %>
          </select>
        </div> -->
        <div class="subsecciones-container"> 
          <label>CANTIDAD: </label> 
          <div class="subsecciones-container">
            <div class="cantidad-modulo">
            <input name="cantidad"type="number" id="cantidad" value="0" class="input-form" placeholder="cantidad: "required/>
              <label for="Cantidad"></label>
              <div class="button-remove">
                <button class="button" type="submit" id="Remover">Remover</button>
              </div>
              <div class="button-add-cart">
                <button class="button" type="submit" id="Add-Cart">Agregar al carrito</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

 
</main>
  
        <%- include('./partials/footer.ejs')  %>

</body>
</html>