<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="css/DetalleProducto.css"/>
</head>
<body>

  <%- include('./partials/header.ejs')  %>

<main>
  <div class="main-content">
    <nav class="menu-detalle-producto" style="justify-content: center;">
      <a href="">Golf /</a>
      <a href=""> Zapatos /</a>
      <a href=""> New Balance /</a>
      <a href=""> Hombres /</a>
      <a href="">Striker V2 zapatos de hombres</a>
    </nav>
    <div class="product-content">
      <div class="fila-item">
        <label class="marca">AGARRE:</label>
          <select name="agarre" class="input-form" id="agarre" placeholder="Seleccione la mano">
          <option value=""></option>
          <% for (const catSelec of data.agarre) { %>
            <option value="<%= catSelec.id %>" <%= data.producto.agarre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
          <%} %>
          </select>  
      </div>
      <div class="fila-item">
        <label class="">TIPO DE VARA:</label>
        <select name="tipodevara"class="input-form" id="tipodevara" placeholder="Seleccione el tipo de vara">
          <option value=""></option>
          <% for (const catSelec of data.tipodevara) { %>
            <option value="<%= catSelec.id %>" <%= data.producto.tipodevara == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
          <%} %>
        </select>
      </div>
      <div class="fila-item">
        <label class="bolsa">TIPO DE BOLSA:</label>
        <select name="tipodebolsa" class="input-form" id="bolsa"placeholder="Seleccione el tipo de bolsa">
          <option value=""></option>
          <% for (const catSelec of data.tipodebolsa) { %>
            <option value="<%= catSelec.id %>" <%= data.producto.tipodebolsa == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
          <% } %>
        </select>
      </div>
      <div class="fila-item">
        <label class="">HIERROS-TIPO DE CONJUNTO:</label>
        <select name="hierrostipodeconjunto"class="input-form" id="hierrostipodeconjunto"placeholder="Seleccione el conjunto de hierros">
          <option value=""></option>
          <% for (const catSelec of data.hierrostipodeconjunto) { %>
            <option value="<%= catSelec.id %>" <%= data.producto.hierrostipodeconjunto == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
          <%} %>
        </select>
      </div>
    </div>
    <div class="fila">
      <div class="fila-item" style="position:relative;">
        <label>DESCUENTO:</label>
        <span style="position: absolute; left: 88%; top: 57px;position: absolute; color: grey;">%</span>
        <input type="descuento"  id="descuento" name="descuento" class="input-form" value="<%= data.producto.descuento %>" placeholder="Descuento" required style="padding-left: 15px;"/>
      </div>
      <div class="fila-item" style="position: relative;">
        <label>PRECIO:</label>
        <span style="position: absolute; left: 20px; top: 57px;position: absolute; color: grey;">$</span>
        <input type="precio"  id="precio" name="precio" class="input-form" value="<%= data.producto.precio %>" placeholder="Precio" required style="padding-left: 15px;"/>
      </div>
      
      <div class="fila-item">
        <label class="talle">TALLES:</label>
        <select name="talle" id="talle" class="input-form" placeholder="Selecciones el talle">
          <option value=""></option>
          <% for (const catSelec of data.talles) { %> 
            <option value="<%= catSelec.id %>" <%= data.producto.talle == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
          <% } %>
        </select>
      </div>
        <div class="fila-item">
          <label class="color">COLOR:</label>
          <select name="color" class="input-form" id="color"placeholder="Seleccione el color">
            <option value=""></option>
            <% for (const catSelec of data.color) { %>
              <option value="<%= catSelec.id %>" <%= data.producto.color == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
            <% } %>
            <option value="color"></option>
          </select>
        </div>
      <div class="img-primaria">
        <img src="/images/zapatos-18.jpg" class="img1"width="80" height="60" alt="New Balance - Striker V2 hombre">
      </div>
      <br>
      <div class="slider-products">
        <button type="button" data-role="none" class="prev-img" aria-label="Previus" role="button" style="display: block;"><</button>
        <img src="/images/zapatos-18-2.webp" class="img3" width="80" height="60" alt="New Balance - Striker V2 hombre">
        <img src="/images/zapatos-18-1.jpg" class="img0" width="80" height="60" alt="New Balance - Striker V2 hombre">
        <img src="/images/zapatos-18-3.webp" class="img"width="80" height="60" alt="New Balance - Striker V2 hombre">
        <img src="/images/zapatos-18-back.jpg" class="img1"width="80" height="60" alt="New Balance - Striker V2 hombre">
        <button type="button" data-role="none" class="next-img" aria-label="Next" role="button" style="display: block;">></button>
        
      </div>
      <div class="product-name"><h2 href="#">STRIKER V2 ZAPATOS GOLF HOMBRE</h2>
        <div class="fila0">
          <h3 class="antes">$19.995 </h3><h3 class="ahora"> |$14.996</h3><h6>Descuento del 25%</h6>
          </div>
      <br>
          <div class="fila">
          <label>TALLE:</label>
          
          <input type="number" id="number-size" class="input-form" />
        
          <label><a href="#">Consulta nuestra tabla de talles aquí.</a></label>
          
        </div>
        <br>
        <div class="fila2">
          <label>COLOR:</label>
          <input type="color" id="color" class="input-form" />
        </div>
        <br>
        <div class="fila3">
          <label>ANCHO:</label>
          <input type="text" id="width-shoe" class="input-form" />
        </div>
        <br>
        <div class="subsecciones-container"> 
          <label for=CANTIDAD:>CANTIDAD:</label>
        <div class="subsecciones-container">
          <div class="cantidad-modulo">
            <label for="Cantidad"></label>
            <div class="cantidad-modulo-input">
            <span class="cantidad-menos" tabindex="0" role="button" aria-label="Restando Cantidad">-</span>
            <input aria-label="Cantidad" type="number" id="Cantidad" name="Cantidad" class="input-text-suppress" maxlength="3.0" min="0" max="30.0" value="1" data-available="0">
            <span class="cantidad-suma" tabaindex="0" role="button" aria-label="Sumando Cantidad">+</span>
            </div>
            <div class="button-remove">
              <button class="button" type="submit" id="Remover">Remover</button>
              </div>
            <div class="button-add-cart">
              <button class="button" type="submit" id="Add-Cart">Agregar al carrito</button>
              
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
  
        <%- include('./partials/footer.ejs')  %>

</body>
</html>