<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/Detalleproducto.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <div class="contenedor">
        <div class="imagen-producto">
          <img src="/images/productosDB/<%= producto.imagen%>" />
        </div>

        <div class="contenedor-info">
          <div class="contenido-producto">
            <h5 class="marca-producto"><%=producto.marca%></h5>
            <h6 class="nombre-producto"><%=producto.nombre%></h6>
            <p class="precio-producto">
              <strong><%=`${'$ ' + producto.precio}`%></strong>
            </p>
          </div>

          <div class="descripcion">
            <!-- if(producto.tipoDeVara  -->
            <% if(producto.tipoDeVara != "null" && producto.tipoDeVara != "") {
            %>
            <p>
              <span class="palo-vara1"> Tipo de Vara: </span>
              <span class="palo-vara2"> <%= producto.tipoDeVara%> </span>
            </p>
            <% } %>

            <!-- close tag -->
            <% if(producto.tipoDeBolsa != "null" && producto.tipoDeBolsa != "")
            { %>
            <p class="tipo1">Tipo de Producto:</p>
            <p class="tipo2">
              <%= producto.tipoDeBolsa%> <%= producto.hierroTipoDeConjunto %>
            </p>
            <% } %>
            <p><span class="color1"> Color: </span> <%= producto.color %></p>
          </div>
        </div>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
