<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/lecciones.css"/>
  </head>

  <body class="lecciones">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>LECCIONES DE GOLF</h2>
        <h4> 3 Resultados</h4>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">Adultos Pack 12 Clases</option>
            <option value="--">Adultos Pack 24 Clases</option>
            <option value="top" selected>Niños Pack Clases</option>
          </select>
        </div>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          
          <% lecciones.forEach(function(leccion){%>
            <li class="producto-lecciones-lista">
              <img src="<%= leccion.imagen %>" alt="">
              <div class="tamaño-hr">
                <h6><%=leccion.nombre%></h6>
                <p><strong><%=leccion.paquete%></strong></p>
                <p> <strong><%=leccion.precio%></strong></p>
              </div>
            </li>
          <% }) %>  
        </ul>
      </div>
    </main>
    <div class="info-lessons">
      <h5>PACK DE LECCIONES DE GOLF PARA ADULTOS Y NIÑOS</h5>
      <p>En GOLF DE ALTURA STORE el paquete de lecciones de golf para adultos comienza con una evaluación del swing de golf y el equipo para que nuestros instructores certificados de AAG (Asociación Argentina de Golf) puedan crear un plan de lecciones personalizado. Nuestros instructores utilizan el monitor de lanzamiento FORESiGHT y las tecnologías de análisis de video V1 Sports para ayudar a llegar a la raíz del problema. La captura y reproducción de video sincronizadas ofrece retroalimentación visual inmediata a través de comparaciones lado a lado de la postura, la postura y el swing con los jugadores del  TOUR ARGENTINO. Cada estudiante tiene acceso basado en la nube a cada consejo de swing, comparación y videos de recapitulación de lecciones creados por el instructor de golf.</p>
        <br>
        <p>Nuestros instructores certificados de la AAG (Asociación Argentina de Golf) también evalúan el equipo como parte de un plan de lecciones de golf. Los palos con los que juegas tienen un impacto en tu habilidad para hacer tiros consistentes. No se trata de vender palos nuevos, se trata de asegurarse de que sus palos recompensen su mejor swing de golf (¡el camino más simple hacia una mejora sostenida!).</p>
        <br>
        </div>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
