<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/products-create-edit.css"/>
  </head>
  <body>
    <%- include('./partials/header.ejs')  %>
  <main>
      <section class="contenedor">
        <div class="titulo">
          <form action="/productos/edit/<%= data.producto[0].id %>?_method=PUT" enctype="multipart/form-data" method="POST">
          <h1>ADMINISTRADOR -  EDICION DE PRODUCTOS</h1>
        </div>
        <div class="fila">
          <div class="fila-item">
            <label class="categoria">CATEGORIA:</label>
            <select name="categoria_id" class="input-form" id="categoria_id" placeholder="Seleccione la categoría">
              <option value=""></option>
              <% for (const item of data.categorias) { %>
                <option value="<%= item.id %>" <%= data.producto[0].categoria_id == item.id ? "selected" : null %> ><%= item.nombre %></option>
              <% } %>
            </select>
          </div>
          <div class="fila-item">
            <label>PRODUCTO:</label>
            <input name="nombre" type="text" id="nombre" class="input-form" value="<%= data.producto[0].nombre %>"/>
          </div>]
          <div class="fila-item">
            <label class="marca">MARCA:</label>
            <input name="marca" type="text" id="marca" class="input-form" value="<%= data.producto[0].marca %>"/>
          </div>
          <div class="fila-item">
            <label>MODELO:</label>
            <input name="modelo" type="text" id="modelo" class="input-form" value="<%= data.producto[0].modelo %>"/>
          </div>
          <div class="fila-img">
            <input type="hidden" id="imagen" name="imagen" value="<%= data.producto[0].imagen %>">
            <img id="img-producto" alt="" src="/images/productos/<%= data.producto[0].imagen %>">
          </div>
        </div>
        <div class="fila">
          <div class="fila-item">
            <label class="agarre">AGARRE:</label>
            <input name="agarre" type="text" id="agarre" class="input-form" value="<%= data.producto[0].agarre %>"/>
          </div>
          <div class="fila-item">
            <label class="">TIPO DE VARA:</label>
            <input name="tipoDeVara" type="text" id="tipoDeVara" class="input-form" value="<%= data.producto[0].tipoDeVara %>"/>
          </div>
          <div class="fila-item">
            <label class="bolsa">TIPO DE BOLSA:</label>
            <input name="tipoDeBolsa" type="text" id="tipoDeBolsa" class="input-form" value="<%= data.producto[0].tipoDeBolsa %>"/>
          </div>
          <div class="fila-item">
            <label class="">HIERROS-TIPO DE CONJUNTO:</label>
            <input name="hierroTipoDeConjunto" type="text" id="hierroTipoDeConjunto" class="input-form" value="<%= data.producto[0].hierroTipoDeConjunto %>"/>
          </div>
        </div>
        <div class="fila">
          <div class="fila-item" style="position:relative;">
            <label>DESCUENTO:</label>
            <input type="number"  id="descuento" name="descuento" class="input-form" value="<%= data.producto[0].descuento %>" placeholder="Descuento"  />
          </div>
          <div class="fila-item" style="position: relative;">
            <label>PRECIO:</label>
            <span style="position: absolute; left: 20px; top: 57px;position: absolute; color: grey;">$</span>
            <input type="number"  id="precio" name="precio" class="input-form" value="<%= data.producto[0].precio %>" placeholder="Precio" required style="padding-left: 15px;"/>
          </div>
          
          <div class="fila-item">
            <label>CONTROL DE STOCK:</label>
            <input type="number" id="stock" name="stock" value="<%= data.producto[0].stock %>" class="input-form" placeholder="Stock: "required/>
          </div>
          <div class="fila-item">
            <label class="color">COLOR:</label>
            <input name="color" type="text" id="color" class="input-form" value="<%= data.producto[0].color %>"/>
          </div>
        </div>
        </div>
        <div class="fila" style="justify-content: flex-end;">
          <div class="fila-item">
            <input class="file input-form" type="file" name="myFile" />
          </div>
        </div>
        <div class="fila" style="justify-content: flex-end; margin-right: 35px;">
          <div class="fila-item">
            <button type="submit" id="guardar">MODIFICAR</button>
                </form>
            
          </div>
      </section>
</main>
<%- include('./partials/footer.ejs')  %>
</body>
</html>
