<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/palos.css"/>
  </head>


  <body class="palos">
    <%- include('./partials/header.ejs') %>
    <main>
      <%if(data != null && data.subcategorias != null & data.subcategorias.length > 0) {%>
      <div class="submenu-productos">
        <nav class="nav-full-screen">
          <div>
            <a href="/productos/<%= data.productos[0].categoria_id%>">TODO</a>
          </div>
          <% data.subcategorias.forEach(function(subcategoria){%>
            <div>
              <a href="/productos/<%= subcategoria.categoria_id%>/<%= subcategoria.nombre%>">
                <%= subcategoria.nombre%>
              </a>
            </div>
          %>
          <% }) %>
        </nav>
      </div>
      <%}%>
      <div class="resultado-busqueda">
        <% if(data.productos.length === 1){ %>
          <h4> <%= data.productos.length %>  Resultado</h4>
        <% } else{ %>  
          <h4> <%= data.productos.length %>  Resultados</h4>
       <% } %>
        <div class="ordenar-buscador">
          <label for="buscador">Ordenar por</label>
          <select class="select-buscador" name="buscador" id="">
            <option value="++">De mas baratos a mas caros</option>
            <option value="--">De mas caros a mas baratos</option>
            <option value="top" selected>Mas vendidos</option>
            <option value="moda">Nuevo Ingreso</option>
          </select>
        </div>

      </div>
      <hr class="hr-1">
      <div class="resultado-busqueda">
        <ul class="resultado-productos">
          
            <% data.productos.forEach(function(product){
              let finalPrice = (product.precio * ((100 - product.descuento) / 100)).toFixed(0)
            %>
          <li class="producto-palos-lista">
            <a href="/productos/detalle/<%=product.p_id%> "><img src="/images/productos/<%= product.imagen %>" alt=""></a>
            <div class="tamaño-hr">
              <p class="nuevo">NUEVO</p>
            <h6><%= product.p_nombre %> <%= product.marca %> <%= product.modelo %><h6>
            <p><%= product.tipoDeVara%> <%= product.tipoDeBolsa%></p>

            <% if(product.descuento === "0.00"){ %>
                    <h5><span class="span-2">  $ <%= toThousand(product.precio) %> </span> </h5>
                <% } else{ %>  
                    <h5><span class="span-1">$ <%= toThousand(product.precio) %> </span> <span class="span-2">$ <%= toThousand(finalPrice) %> </span></h5>
                    <p class="p-descuento">Ahorra <%= product.descuento %> % </p>
                <% } %>
                </div>
            </li>
          <% }) %>
    </ul>
  </div>
  </main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
