<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs')  %>
    <link rel="stylesheet" href="/css/products-create.css"/>
     
  </head>
 
  <body>
   
    <%- include('./partials/header.ejs')  %>  

  <main>
    <form action="/products/create" enctype="multipart/form-data" method="POST">
      <section class="contenedor">
        <div class="titulo">
          <h1>ADMINISTRADOR -  CARGA DE PRODUCTOS</h1>
        </div>
        <div class="fila">
          <div class="fila-item">
            <label class="categoria">CATEGORIA:</label>
            <select name="categoria" class="input-form" id="categoria" placeholder="Seleccione la categoría" onchange="filtrarModelos()">
              <option value=""></option>
              <% for (const catSelec of data.categorias) { %>
                <option value="<%= catSelec.id %>" <%= data.categorias.nombre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
              <% } %>
            </select>
          </div>
          <div class="fila-item">
            <label>PRODUCTO:</label>
            <select name="producto" class="input-form" id="producto" placeholder="Seleccione un producto">
              <option value=""></option>
              <% for (const item of data.listaproductos) { %>
                <option value="<%= item.id %>" <%= data.listaproductos.nombre == item.nombre ? "selected" : null %> ><%= item.nombre %></option>
              <% } %>
            </select>
          </div>
          <div class="fila-item">
            <label class="marca">MARCA:</label>
            <select name="marca" class="input-form" id="marca" placeholder="Seleccione la marca">
              <option value=""></option>
              <% for (const catSelec of data.marcas) { %>
                <option value="<%= catSelec.id %>" <%= data.marcas.nombre == catSelec.nombre ? "selected" : null %> ><%= catSelec.nombre %></option>
              <% } %>
            </select>  
          </div>
          <div class="fila-item">
            <label>MODELO:</label>
            <select name="modelo" class="input-form" id="modelo" placeholder="Seleccione el modelos">
              <option value=""></option>
              <% for (const catSelec of data.modelos) { %>
                <option value="<%= catSelec.id %>" data-categoriaid="<%=catSelec.categoriaId%>"><%= catSelec.nombre %></option>
              <% } %>
            </select>  
          </div>
        </div>
        <div class="fila">
          <div class="fila-item">
            <label class="marca">AGARRE:</label>
              <select name="agarre" class="input-form" id="agarre" placeholder="Seleccione la mano">
              <option value=""></option>
              <% for (const catSelec of data.agarre) { %>
                <option value="<%= catSelec.id %>"><%= catSelec.nombre %></option>
              <% } %>
              </select>  
          </div>
          <div class="fila-item">
            <label class="">TIPO DE VARA:</label>
            <select name="tipodevara"class="input-form" id="tipodevara" placeholder="Seleccione el tipo de vara">
              <option value=""></option>
              <% for (const catSelec of data.tipodevara) { %>
                <option value="<%= catSelec.id %>" <%= data.tipodevara.nombre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
              <% } %>
            </select>
          </div>
          <div class="fila-item">
            <label class="bolsa">TIPO DE BOLSA:</label>
            <select name="tipodebolsa" class="input-form" id="bolsa" placeholder="Seleccione el tipo de bolsa">
              <option value=""></option>
              <% for (const catSelec of data.tipodebolsa) { %>
                <option value="<%= catSelec.id %>" <%= data.tipodebolsa.nombre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
              <% } %>
            </select>
          </div>
          <div class="fila-item">
            <label class="">HIERROS-TIPO DE CONJUNTO:</label>
            <select name="hierrostipodeconjunto"class="input-form" id="hierrostipodeconjunto" placeholder="Seleccione el conjunto de hierros">
              <option value=""></option>
              <% for (const catSelec of data.hierrostipodeconjunto) { %>
                <option value="<%= catSelec.id %>" <%= data.hierrostipodeconjunto.nombre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="fila">
          <div class="fila-item" style="position:relative;">
            <label>DESCUENTO:</label>
            <select name="descuento"class="input-form" id="descuento" placeholder="Seleccione el descuento" required>
              <% for (const catSelec of data.descuentos) { %>
                <option value="<%= catSelec.descuento %>" <%= data.descuentos.descuento == catSelec.descuento ? "selected" : null %> ><%= catSelec.descuento %> %</option>
              <% } %>
            </select>
          </div>
          <div class="fila-item" style="position: relative;">
            <label>PRECIO:</label>
            <span style="position: absolute; left: 17px; top: 57px; color:grey">$</span>
            <input name="precio" type="precio"  id="precio" class="input-form" value="" required style="padding-left: 15px;"/>
          </div>
          <div class="fila-item">
            <label class="talle">TALLES:</label>
            <select name="talle" id="talle" class="input-form" placeholder="Seleccione el talle">
              <option value=""></option>
              <% for (const catSelec of data.talles) { %>
                <!--acá no hace falta  data.talles.nombre == catSelec.id porque es un create y está todo vacío o el usuario -->
                <!--todavía no seleccionó nada en realidad-->
                <option value="<%= catSelec.id %>" <%= data.talles.nombre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
              <% } %>
            </select>
          </div>
          <div class="fila-item">
            <label>CONTROL DE STOCK:</label>
            <input name="stock"type="number" id="stock" value="0" class="input-form" placeholder="Stock: "required/>
          </div>
          <div class="fila-item">
            <label class="color">COLOR:</label>
            <select name="color" class="input-form" id="color" placeholder="Seleccione el color">
              <option value=""></option>
              <% for (const catSelec of data.color) { %>
                <option value="<%= catSelec.id %>" <%= data.color.nombre == catSelec.id ? "selected" : null %> ><%= catSelec.nombre %></option>
              <% } %>
            </select>
          </div>
        </div>
        
        <div class="fila" style="justify-content: flex-end;">
          <div class="fila-item">
            <input class="file input-form" type="file" name="myFile" />
          </div>
        </div>
        <div class="fila" style="justify-content: flex-end;">
          <div class="fila-item">
            <button type="submit" id="guardar">GUARDAR</button> 
          </div>
        </div>
      </section>
    </form>

</main>

<%- include('./partials/footer.ejs')  %>
 
</body>
</html>

