<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/productos.css"/>
  </head>

  <%- include('./partials/head.ejs') %>
  <body class="campos">
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="resultado-busqueda">
        <h2>Productos Gas Store</h2>
        
      </div>
      <hr class="hr-1">

      <div class="resultado-busqueda">

        <ul class="resultado-productos">
          
          <% productos.forEach(function(producto){%>
            <li class="producto-campos-lista">
              <img src="/images/productosDB/<%= producto.imagen%>">
              
              <div class="tamaño-hr"><br>
                <h5><%=producto.marca%></h5>
                <h6><%=producto.nombre%></h6>
                <p class="tipo"><%= producto.tipoDeBolsa%><%= producto.tipoDeVara%></p>
                <p>Precio: <strong><%=`${'$ ' + producto.precio}`%></strong></p>
                <a href="/products/detalle/<%= producto.id %>"><%= producto.nombre %></a>
              </div>
            </li>
          <% }) %>
        </ul>
    </div>
  </div>
</main>

   <%- include('./partials/footer.ejs') %>

  </body>
</html>
